.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.App-header {
  background-color: #282c34;
  min-height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  padding-top: 100px;
}

.title {
  font-size: 16px;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo__add-input {
  width: 150px;
  height: 30px;
}

.todo__add-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
}

.todo-items-list {
  display: flex;
  flex-direction: column;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.todo__item {
  border-radius: 3px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border: 1px solid #e7e7e7;
  margin: 5px 0;
}